/*------------------------ BODY ---------------------- */
body{
	margin: 0px;
}

/*------------------------ WRAPPER ---------------------- */
#wrapper{
	margin: 0 auto;
	height: auto;
	overflow: hidden;
}

/*------------------------ HEADER ---------------------- */
#header{
	width: 100%;
	margin: 0px;
	position: relative;
}

#logoin{
	width: 100%;
	height: 100px;
	position: absolute;
	top: 16%;
	overflow: hidden;
}

#tagline{
	width: 100%;
	height: 300px;
	position: absolute;
	top: 45%;
	overflow: hidden;
	font-family: 'Poppins', sans-serif;
	line-height: 150%;
	color: white;
	font-size: 2.5em;
	z-index: 99;
	font-weight: 700;
}

#logo{
	width: 11%;
	left: 10px;
	float: center;
	z-index: 99;
	background-color: transparent;
}

/*------------------------ ABOUT ---------------------- */
#about{
	background-color: #FFFFFF;
}

#tag{
	font-family: 'Poppins', sans-serif;
	font-size: 1.8em;
	color: #286191;
}

#para p{
	font-size: 1.3em;
	font-family: 'Poppins', sans-serif;
	padding: 10px 0px 0px 0px;
	font-weight: 300;
}

/*------------------------ CLIENTS ---------------------- */
#clients{
	margin: 0px;
	padding: 10px;
	background-image: url(../img/clients_bg.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}

#clientstitle{
	font-size: 2.3em;
	font-family: 'Poppins', sans-serif;
	padding: 10px 0px 0px 0px;
	font-weight: 700;
	color: #FFFFFF;
	margin: 30px;
}

#box{
	background-color: #21303d;
	padding: 15px;
	margin: 20px;
	width: 14%;
	max-width: 16%;
}

#box img{
	width: 100%;
}

/*------------------------ CONTACTS ---------------------- */
#contact{
	background-color: #FFFFFF;
}


#contacttitle{
	font-size: 2em;
	font-family: 'Poppins', sans-serif;
	padding: 10px 20px 0px 0px;
	font-weight: 700;
	margin: 10px;
}

#contacttitle p{
	font-size: 0.5em;
	font-family: 'Poppins', sans-serif;
	padding: 10px 0px 0px 0px;
	font-weight: 300;
}

#form{
	margin: 10px;
	font-size: 0.8em;
	font-family: 'Poppins', sans-serif;
	padding: 10px 0px 0px 0px;
	font-weight: 400;
}

input, textarea{
	background-color: #f2f3f3;
	border: none;
	padding: 10px;
}

#submit{
	width: 275px;
	height: 30px;
	background-color: #286191;
	color: #FFFFFF;
	padding: 10px;
}


/*------------------------ FOOTER ---------------------- */
#footer{
	background-color: black;
	color: #FFFFFF;
	margin: 0px;
	padding: 10px;
}